@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* 
bgColor = "#F7F7FF";
textColor = "#0F0A0A";
textActiveColor = "#87FF65";
borderColor = "#9381FF";
secondaryColor = "#9381FF";
*/

html, body, h1, h2, h3, h4, h5, h6, span, p{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6, p{
    transition: all 0.5s;
}

.text-primary{
    color: #9381FF !important;
}

.text-secondary{
    color: #87FF65;
}

.text-light{
    color: #F7F7FF;
}

.text-dark{
    color: #0F0A0A;
}
